name: Test

on: [push,pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Install Go
        uses: actions/setup-go@v4
        with: { go-version-file: 'src/go.mod' }

      - name: Check formatting using gofmt
        run: gofmt -s -l -d .

      - name: Get dependencies
        run: go mod download

      - name: Run unit tests
        run: go test ./...
